#DPersonales{
  width: 650px;
  height: 300px;
  border: solid;
  border-color: black;
  float: right;
  text-align: center;
  text-indent: 20px;
  color: black;
  font-weight: bold;
  opacity: 0.9;
  margin-right: 35px;
}

#Estudios{
  background-color: linear-gradient(to bottom left, #003366 0%, #009999 100%) ;
  border: solid;
  border-color: black;
  color: black;
  font-weight: bold;
  opacity: 0.9;
  margin: 10px;
  text-indent: 15px;
  width: 1200px;
}

#Experiencia{
  background-color: linear-gradient(to bottom left, #003366 0%, #009999 100%) ;
  border: solid;
  border-color: black;
  color: black;
  font-weight: bold;
  margin: 10px;
  text-indent: 15px;
  width: 1200px;
  opacity: 0.9;
}

.titulos {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333333;
  display: block;
  color: white;
  text-align: center;
  padding: 15px;
  text-decoration: none;
}

body{
  background-color: #99D1EA;
  background-image: url(Media/boca_90px1.gif), url(Media/campana_60px1.gif), url(Media/reloj_30px1.gif),
    url(Media/tostadora_70px1.gif), url(Media/jesus_212px1.gif), url(Media/campana_80px1.gif), url(Media/reloj_60px1.gif),
    url(Media/gusano_60px1.gif), url(Media/tostadora_100px1.gif);
  background-repeat: no-repeat;
  background-position: top left 30px, top 69px  center, top 30px right 30px, bottom left 30px, center, bottom 30px center, bottom 30px right 30px,
  center left 30px, center right 30px;
}

h1{
  text-align: center;
  font: bold 50px sans-serif;
  color: black;
}

.icon{
  width: 20px;
  height: auto;;
  margin-right: 5px;
}

#Mrx{
  width: 300px;
  height: auto;
  border: 2px solid;
  border-color: black;
  border-radius: 50%;
  margin: 10px 0 10px 80px;
}
