#DIV1 {
  width: 100%;
  padding: 10px 0;
  text-align: left;
  background-color: lightblue;
  border: solid;
  margin-top: 10px;
}

body{
  background-image: url(back.jpg);
}

h1{
  text-align: left;
}

img{
    width: 250px;
    height: auto;
    border: 2px solid;
    border-radius: 50%;
    
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 15px;
  text-decoration: none;
}

li a:hover {
  background-color: #111111;
}
